<h5>Blocks:</h5>
<table class="table table-bordered">
<tbody>
<tr>
<td>
<code class="code-wrap">vocabulary vocName {
    type Type
    type Number isa int
    Relation(Arg1, Arg2)
    Function(Arg1, Arg2): Value
}</code>
</td>
<td>
<code class="code-wrap">structure StrucName : VocName {
    Type = { A, B, C }
    type Number = { 1..9 }
    Relation = { A,B ; B, C }
    Function = { A,B -> C; B,C -> A }
}</code>
</td>
</tr>
<tr >
<td rowspan="2">
<code class="code-wrap">theory ThName: VocName {
    Formula_1.
    Formula_2.
}</code>
</td>
<td>
<code class="code-wrap">query QueryName: VocName  {
    { x y : P(x,y) }
}</code>
</td>
</tr>
<tr>
<td>
<code class="code-wrap">term TermName: VocName  {
    X + Y
}</code>
</td>
</tr>
</tbody>
</table>

<h5>Logical operators:</h5>
<table class="table table-bordered">
<thead>
<tr>
<th scope="col">Operator</th>
<th scope="col">IDP notation</th>
<th scope="col">Mathematical Notation</th>
</tr>
</thead>
<tbody class="text-secondary">
<tr>
<td>Not</td>
<td style="text-align:center">~</td>
<td style="text-align:center">&not;</td>
</tr>
<tr>
<td>And</td>
<td style="text-align:center">&</td>
<td style="text-align:center">&and;</td>
</tr>
<tr>
<td>Or</td>
<td style="text-align:center">|</td>
<td style="text-align:center">&or;</td>
</tr>
<tr>
<td>if, then</td>
<td style="text-align:center">=></td>
<td style="text-align:center">&rArr;</td>
</tr>
<tr>
<td>if and only if </td>
<td style="text-align:center">&lt;=></td>
<td style="text-align:center">&hArr;</td>
</tr>
<tr>
<td>For all</td>
<td style="text-align:center">!</td>
<td style="text-align:center">&forall;</td>
</tr>
<tr>
<td>Exists</td>
<td style="text-align:center">?</td>
<td style="text-align:center">&exist;</td>
</tr>
</tbody>
</table>           


<h5>Comparison operators:</h5>
<table class="table table-bordered">
<thead>
<tr>
<th scope="col">Operator</th>
<th scope="col">IDP notation</th>
<th scope="col">Mathematical Notation</th>
</tr>
</thead>
<tbody class="text-secondary">
<tr>
<td>Equal to</td>
<td style="text-align:center">=</td>
<td style="text-align:center">=</td>
</tr>
<tr>
<td>Different from</td>
<td style="text-align:center">~=</td>
<td style="text-align:center">&ne;</td>
</tr>
<tr>
<td>Less than</td>
<td style="text-align:center">&lt;</td>
<td style="text-align:center">&lt;</td>
</tr>
<tr>
<td>Smaller or equal to</td>
<td style="text-align:center">=&lt;</td>
<td style="text-align:center">&le;</td>
</tr>
<tr>
<td>Bigger or equal to</td>
<td style="text-align:center">>=</td>
<td style="text-align:center">&ge;</td>
</tr>
</table>     

<h5>Variants of the quantifiers:</h5>
<table class="table table-bordered">
<tbody class="text-secondary">
<tr>
<td>
<code class="code-wrap">!x y: P(x,y) => Q(x,y).
!(x y) in P: Q(x,y).
!(x y) sat P(x,y): Q(x,y).
</code>
</td>
<td>
<code class="code-wrap">?x y: P(x,y) & Q(x,y).
?(x y) in P: Q(x,y).
?(x y) sat P(x,y): Q(x,y).
</code></td>
</tr>
</tbody>
</table>

<h5>Meaning of derived operators:</h5>
<table class="table table-bordered">
<tbody class="text-secondary">
<tr>
<td>F | G</td>
<td>~(~F & ~G)</td>
</tr>
<tr>
<td>F => G</td>
<td>~F | G</td>
</tr>
<tr>
<td>F &lt;=> G</td>
<td>~F & ~G | F & G</td>
</tr>
<tr>
<td>?x : P(x)</td>
<td>~(!x: ~P(x))</td>
</tr>

</tbody>
</table>