{% load fontawesome_5 %}

{% if course.assignment_set.all %}
    <!-- Show all assignments of the course-->
        
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Task title</th>
                <th scope="col">Status/Score</th>
                <th scope="col">Start/End date</th>
                <!--<th scope="col">Description</th>-->
                <th scope="col">Saved</th>
                <th scope="col">Submited</th>
                <th scope="col">Finished</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for assignment in course.assignment_set.all %}
            <tr>
                <th scope="row">{{ assignment.title }}</th>
                <td><b>
                    {% if not assignment|is_started %}
                        <span class="text-success">Not started!</span>
                    {% elif assignment|is_open %}
                        <span class="text-success">Ongoing!</span>
                    {% elif assignment|was_reviewed:user %}
                        <span class="text-primary"> Reviewed({{ assignment|get_score_for:user }}/{{ assignment|get_max_score }})</span>
                    {% elif assignment|was_submitted_by:user%}
                        <span class="text-info">To be reviewed!</span>
                    {% else %}
                        <span class="text-danger">Not submited!</span>
                    {% endif %}
                </b></td>
                <td>{{ assignment.start_date|date:"d/m/Y H:i" }} <br> {{ assignment.end_date|date:"d/m/Y H:i" }}</td>
                <!--<td>{{ assignment.description|truncatewords:15 }}</td>-->

                <td style="text-align: center;">
                    {%if assignment|was_saved_by:user %}
                        {% fa5_icon 'check' 'fa' color='green' %}
                    {% else %}
                        {% fa5_icon 'times' 'fa' color='red' %}
                    {% endif %}
                </td>

                <td style="text-align: center;">
                    {%if assignment|was_submitted_by:user %}
                        {% fa5_icon 'check' 'fa' color='green' %}
                    {% else %}
                        {% fa5_icon 'times' 'fa' color='red' %}
                    {% endif %}
                </td>

                <td style="text-align: center;">
                    {%if assignment|is_finished %}
                        {% fa5_icon 'lock' 'fa' color='red' %}
                    {% else %}
                        {% fa5_icon 'lock-open' 'fa' color='green' %}
                    {% endif %}
                </td>

                <td>
                {%if assignment|is_finished %} 
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'assignment-detail' assignment.id %}'">Review {% fa5_icon 'eye' 'fa' %}</button>
                {% elif assignment|is_open %}
                    {% if assignment|was_submitted_by:user %}
                    <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'assignment-detail' assignment.id %}'">Retry {% fa5_icon 'edit' 'fa' %}</button>
                    {% elif assignment|was_saved_by:user %}
                    <button type="button" class="btn btn-info" onclick="window.location.href='{% url 'assignment-detail' assignment.id %}'">Continue {% fa5_icon 'forward' 'fa' %}</button>
                    {% else %}
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'assignment-detail' assignment.id %}'">Start {% fa5_icon 'play' 'fa' %}</button>
                    {% endif %}
                {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <!-- Show there is no assignments -->
    {% load static %}
    <br>
    <div class="alert alert-success" role="alert">
        Still no assignments here!
    </div>
    <img src="{% static "images/no-tasks.png" %}" alt="No assignments!" width="10%" class="center">
{% endif %}