.editor-parent {
    max-width: 100%;
}

.code-wrap {
    white-space: pre-wrap;
    color: #404040;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.keyword { color: #3300aa }
.bracket  { color: #863b00 }
.vockeyword { color: #863b00 }
.comment  { color: #008000;; font-style: italic; }
.string { color: #762 }