{% load fontawesome_5 %}

{% with q|get_choice_answer_for_user:user as answer %}
    <div class="card choiceQuestionCard" name="{{q.id}}">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type='button' data-toggle="collapse" data-target="#collapse-choice-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-choice-{{ forloop.counter }}" onclick="closePopovers()">
                    {{ q.title }}
                    
                </button>
                <p class="float-right"><small>Choice question / Max Score: {{ q.max_score }} {% if assignment|is_finished %} / <b>Score: {{answer.score}}</b> {% endif %}</small></p>
            </h5>
        </div>

        <div id="collapse-choice-{{ forloop.counter }}" class="collapse collapse-standard" aria-labelledby="collapse-choice-{{ forloop.counter }}" data-parent="#accordion">
            <div class="card-body">
                {% if assignment|is_finished %}
                    <p style="color:mediumpurple"><b><u>Question:</u><br></b></p>
                    {{ q.description|safe }}
                    <hr>
                    <p style="color:orange"><b><u>Answer:</u></b></p>
                    {% for option in q.option_set.all %}
                        {%if answer and answer|is_option_selected:option %}
                        {% fa5_icon 'check' 'fa' %}
                        {%else%}
                        {% fa5_icon 'times' 'fa' %}
                        {%endif%}
                        <label for="option{{ forloop.counter }}">{{ option.text|linebreaks }}</label><br>
                    {% endfor %}
                    <hr>
                    <p style="color:teal"><b><u>Solution:</u><br></b></p>
                    {% for option in q.option_set.all %}
                        {%if option.is_correct %}
                        {% fa5_icon 'check' 'fa' %}
                        {%else%}
                        {% fa5_icon 'times' 'fa' %}
                        {%endif%}
                        <label>{{ option.text|linebreaks }}</label><br>
                    {% endfor %}
                    <hr>
                    <p style="color:green"><b><u>Comment of TA:</u></b></p>{% firstof answer.comment|linebreaksbr "" %} 
                {% else %}
                    {{ q.description|safe }}
                    <hr>
                    {% for option in q.option_set.all %}
                        {%if answer and answer|is_option_selected:option %}
                        <input type="checkbox" name="choiceAnswer-{{ q.id }}" id="option{{ forloop.counter }}" value="{{ option.id }}" checked>
                        {%else%}
                        <input type="checkbox" name="choiceAnswer-{{ q.id }}" id="option{{ forloop.counter }}" value="{{ option.id }}">
                        {%endif%}
                        <label for="option{{ forloop.counter }}">{{ option.text|linebreaks }}</label><br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}