{% load fontawesome_5 %}

{% with q|get_idp_answer_for_user:user as answer %}
    <div class="card idpQuestionCard" name="{{q.id}}">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type='button' data-toggle="collapse" data-target="#collapse-idp-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-idp-{{ forloop.counter }}" onclick="openIDPQuestions()">
                    {{ q.title }}
                </button>
                <p class="float-right"><small>Formalization question / Max Score: {{ q.max_score }} {% if assignment|is_finished %} / <b>Score: {{answer.score}}</b> {% endif %}</small></p>
            </h5>
        </div>

        <div id="collapse-idp-{{ forloop.counter }}" class="collapse collapse-idp" aria-labelledby="collapse-idp-{{ forloop.counter }}" data-parent="#accordion">
            <div class="card-body">
                {% if assignment.end_date < now %}
                    <p style="color:mediumpurple"><b><u>Question:</u><br></b></p>
                    {{ q.description|safe }}
                    
                    <hr style="border-top: 1px dashed;">
                    <i>Given vocabulary:</i><br>
                    <code class="code-wrap">vocabulary V { {{ q.vocabulary.strip|idpCode }}&#125;</code>

                    <br><hr style="border-top: 1px dashed;">
                    <i>Given background theory:</i><br>
                    <code class="code-wrap">theory T_back : V { {{ q.background_theory.strip|idpCode }}&#125;</code>

                    <br><hr style="border-top: 1px dashed;"> 
                    <i>Given strucutre:</i><br>
                    <code class="code-wrap">structure S : V { {{ q.structure.strip|idpCode }}&#125;</code>


                    {% if not q.additional_vocabulary_enabled %}
                        <br><br> 
                        <i>Additional symbols are not allowed!</i><br>
                    {% endif %}
                    <hr>

                    <p style="color:orange"><b><u>Answer:</u><br></b></p>
                    {% if q.additional_vocabulary_enabled %}
                        <i>Andditional vocabulary:</i><br>
                        <code class="code-wrap">vocabulary V_add {&#13;extern vocabulary V {%firstof answer.additional_vocabulary.strip|idpCode "" %}&#125;</code>
                        <hr style="border-top: 1px dashed;">

                        <i>Definitions of the symbols from the additional vlcabulary:</i><br>
                        <code class="code-wrap">theory T_add : V_add { {%firstof answer.additional_vocabulary_symbols.strip|idpCode "" %}&#125;</code>
                        <hr style="border-top: 1px dashed;">

                        <i>The theory:</i><br>
                        <code class="code-wrap">theory T : V_add { {%firstof answer.theory.strip|idpCode "" %}&#125;</code>
                    {% else %}
                        <i>The theory:</i><br>
                        <code class="code-wrap">theory T : V { {%firstof answer.theory.strip|idpCode "" %}&#125;</code>
                    {% endif %}

                    <hr>
                    <p style="color:teal"><b><u>Solution:</u><br></b></p>
                    
                    {% if q.additional_vocabulary_enabled %}
                        <i>Andditional vocabulary:</i><br>
                        <code class="code-wrap">vocabulary V_add {&#13;extern vocabulary V {%firstof q.additional_vocabulary.strip|idpCode "" %}&#125;</code>
                        <hr style="border-top: 1px dashed;">

                        <i>Definitions of the symbols from the additional vlcabulary:</i><br>
                        <code class="code-wrap">theory T_add : V_add { {%firstof q.additional_vocabulary_symbols.strip|idpCode "" %}&#125;</code>
                        <hr style="border-top: 1px dashed;">

                        <i>The theory:</i><br>
                        <code class="code-wrap">theory T : V_add { {%firstof q.theory.strip|idpCode "" %}&#125;</code>
                    {% else %}
                        <i>The theory:</i><br>
                        <code class="code-wrap">theory T : V { {%firstof q.theory.strip|idpCode "" %}&#125;</code>
                    {% endif %}

                    <hr>
                    <p style="color:green"><b><u>Comment of TA:</u></b></p>{% firstof answer.comment|linebreaksbr "" %} 
                {% else %}

                    {{ q.description|safe }}
                    <hr>
                    <!-- Fixed vocabulary -->
                    <div class="card">
                        <div class="card-header">
                            Given vocabulary
                            <button type="button" class="btn btn-sm btn-info float-right" data-toggle="popover" title="Vocabulary" data-content="Here you can find symbols that you can use in the theory! You can not edit it!">
                                {% fa5_icon 'question' 'fa' %}
                            </button>
                        </div>
                        <div class="card-body">
                            {% if q.vocabulary.strip %}
                            <code class="code-wrap">vocabulary V { {{ q.vocabulary.strip|idpCode }}&#125;</code>
                            {% else %}
                                <i>No vocabulary is given!</i>
                            {% endif %}
                        </div>
                    </div>
                    
                    {% if q.additional_vocabulary_enabled %}
                        <!-- Additional vocabulary data -->
                        <div class="card mt-2">
                            <div class="card-header">
                                Additional vocabulary
                                <button type="button" class="btn btn-sm btn-info float-right" data-toggle="popover" title="Additional vocabulary" data-content="If you need add here additional vocabulary symbols. Note that this symbols have to be define!">
                                    {% fa5_icon 'question' 'fa' %}
                                </button>
                            </div>
                            <div class="card-body">
                                <textarea  id="additionalVocabulary-{{ q.pk }}">{%firstof answer.additional_vocabulary "" %}</textarea>
                            </div>
                        </div>
                        
                        <!-- Definitions of additional vocabulary -->
                        <div class="card mt-2">
                            <div class="card-header">
                                Define symbols from additional vocabulary
                                <button type="button" class="btn btn-sm btn-info float-right" data-toggle="popover" title="Definitions of additional symbols" data-content="If you use additional symbols be sure to define them in this theory. Don't foget to put definitions inside '{}'!'">
                                    {% fa5_icon 'question' 'fa' %}
                                </button>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '~');">
                                    &not;
                                </button>
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '&');">
                                    &and;
                                </button>
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '|');">
                                    &or;
                                </button>
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '=>');">
                                    &rArr;
                                </button>
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '<=');">
                                    &lArr;
                                </button>
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '<=>');">
                                    &hArr;
                                </button>
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '!');">
                                    &ForAll;
                                </button>
                                <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '?');">
                                    &Exists;
                                </button>
                                <button type="button" class="btn btn-sm btn-info mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '~=');">
                                    &ne;
                                </button>
                                <button type="button" class="btn btn-sm btn-info mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '>=');">
                                    &geq;
                                </button>
                                <button type="button" class="btn btn-sm btn-info mb-1" onclick="insertTextAtCursor('additionalVocabularySymbols', {{ q.id }}, '=<');">
                                    &leq;
                                </button>

                                <textarea id="additionalVocabularySymbols-{{ q.pk }}">{%firstof answer.additional_vocabulary_symbols "" %}</textarea>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Background theory -->
                    <div class="card mt-2">
                        <div class="card-header">
                            Background theory
                            <button type="button" class="btn btn-sm btn-info float-right" data-toggle="popover" title="Background theory" data-content="This is the theory that is assumed to be true. So you don't have to express these axioms!">
                                {% fa5_icon 'question' 'fa' %}
                            </button>
                        </div>
                        <div class="card-body">
                            {% if q.background_theory.strip %}
                            <code class="code-wrap">theory T : V { {{ q.background_theory.strip|idpCode }}&#125;</code>
                            {% else %}
                                <i>No background theory is given!</i>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Main theory of the student -->
                    <div class="card mt-2">
                        <div class="card-header">
                            Main Theory
                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Actions">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#idpModal" onclick="checkIDP({{ q.id }});">
                                    Check {% fa5_icon 'cogs' 'fa' %}
                                </button>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cheatSheetModal">
                                    Cheat sheet {% fa5_icon 'file-alt' 'fa' %}
                                </button>
                                <button type="button" class="btn btn-info" data-toggle="popover" title="FO Theory" data-content="Here you can formalize the problem, in terms of vocabulary and additional symbols. Be sure not to use definitions in this theory!">
                                    {% fa5_icon 'question' 'fa' %}
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '~');">
                                &not;
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '&');">
                                &and;
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '|');">
                                &or;
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '=>');">
                                &rArr;
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '<=');">
                                &lArr;
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '<=>');">
                                &hArr;
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '!');">
                                &ForAll;
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '?');">
                                &Exists;
                            </button>
                            <button type="button" class="btn btn-sm btn-info mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '~=');">
                                &ne;
                            </button>
                            <button type="button" class="btn btn-sm btn-info mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '>=');">
                                &geq;
                            </button>
                            <button type="button" class="btn btn-sm btn-info mb-1" onclick="insertTextAtCursor('theory', {{ q.id }}, '=<');">
                                &leq;
                            </button>

                            <textarea id="theory-{{ q.pk }}">{% firstof answer.theory "" %}</textarea>
                        </div>
                    </div>
                    
                    
                    <!-- Given structure -->
                    <div class="card mt-2">
                        <div class="card-header">
                            Given Structure
                            <button type="button" class="btn btn-sm btn-info float-right" data-toggle="popover" title="Structure" data-content="This is the world specified by instructor, the state of afairs. You can not edit it!">
                                {% fa5_icon 'question' 'fa' %}
                            </button>
                        </div>

                        <div class="card-body">
                            {% if q.structure.strip %}
                                <code class="code-wrap">structure S : V { {{ q.structure.strip|idpCode }}&#125;</code>
                            {% else %}
                                <i>No structure is given!</i>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}