{% with q|get_text_answer_for_user:user as answer %}
    <div class="card textQuestionCard" name="{{q.id}}">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type='button' data-toggle="collapse" data-target="#collapse-text-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-text-{{ forloop.counter }}">
                    {{ q.title }}
                </button>
                <p class="float-right"><small>Text question / Max Score: {{ q.max_score }} {% if assignment|is_finished %} / <b>Score: {{answer.score}}</b> {% endif %}</small></p>
            </h5>
        </div>

        <div id="collapse-text-{{ forloop.counter }}" class="collapse collapse-standard" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                {% if assignment|is_finished %}
                    <p style="color:mediumpurple"><b><u>Question:</u><br></b></p>
                    {{ q.description|safe }}
                    <hr>
                    <p style="color:orange"><b><u>Answer:</u></b></p>
                    {% firstof answer.answer "" %}
                    <hr>
                    <p style="color:teal"><b><u>Solution:</u><br></b></p>
                    {{ q.correct_answer|linebreaks}}
                    <hr>
                    <p style="color:green"><b><u>Comment of TA:</u></b></p>{% firstof answer.comment|linebreaksbr "" %} 
                {% else %}
                    {{ q.description|safe }}
                    <hr>
                    <textarea id="textAnswer-{{ q.id }}" class="form-control" rows="3">{% firstof answer.answer "" %}</textarea>
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}