{% load fontawesome_5 %}

{% with q|get_choice_answer_for_user:student as answer %}
    <input class="choiceQuestionAnswerID" value="{{ answer.id }}" hidden>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                {{ q.title }}
                <p class="float-right"><small>Choice question</small></p>
            </h5>
        </div>
        <div class="card-body">
            <p style="color:mediumpurple"><b><u>Question:</u><br></b></p>
            {{ q.description|safe }}
            <hr>
            
            <p style="color:orange"><b><u>Answer:</u><br></b></p>
            {% for option in q.option_set.all %}
                {%if answer and answer|is_option_selected:option %}
                {% fa5_icon 'check' 'fa' %}
                {%else%}
                {% fa5_icon 'times' 'fa' %}
                {%endif%}
                <label for="option{{ forloop.counter }}">{{ option.text|linebreaks }}</label><br>
            {% endfor %}
            <hr>
            <p style="color:teal"><b><u>Solution:</u><br></b></p>
            {% for option in q.option_set.all %}
                {%if option.is_correct %}
                {% fa5_icon 'check' 'fa' %}
                {%else%}
                {% fa5_icon 'times' 'fa' %}
                {%endif%}
                <label>{{ option.text|linebreaks }}</label><br>
            {% endfor %}
            <hr>
            <p style="color:green"><b><u>Comment:</u><br></b></p>
            <textarea id="choiceAnswerComment-{{ answer.id }}" class="form-control" rows="3">{% firstof answer.comment|linebreaksbr "" %}</textarea>
            
            {% if ta_f.comment.value %}<p style="color:green"><b><u>Comment of TA:</u><br>{{ ta_f.comment.value|linebreaksbr }}</b></p> {% endif %}
        </div>
        <div class="card-footer text-muted">
            <p class="float-right">
                Max: {{ q.max_score }} / Estimated: {{ answer|estimate_choice_score }} / Score:
                <input id="choiceAnswerScore-{{ answer.id }}" type="number" size="1" value="{{ answer.score }}">
            </p>
        </div>
    </div>
    <br>
{% endwith %}