{% with q|get_text_answer_for_user:student as answer %}
    <input class="textQuestionAnswerID" value="{{ answer.id }}" hidden>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                {{ q.title }}
                <p class="float-right"><small>Text question</small></p>
                
            </h5>
        </div>
        <div class="card-body">
            <p style="color:mediumpurple"><b><u>Question:</u><br></b></p>
            {{ q.description|safe }}
            <hr>
            
            <p style="color:orange"><b><u>Answer:</u><br></b></p>
            {% firstof answer.answer|linebreaksbr "" %}
            <hr>
            <p style="color:teal"><b><u>Solution:</u><br></b></p>
            {{ q.correct_answer|linebreaks}}
            <hr>
            <p style="color:green"><b><u>Comment:</u><br></b></p>
            <textarea id="textAnswerComment-{{ answer.id }}" class="form-control" rows="3">{% firstof answer.comment|linebreaksbr "" %}</textarea>
        </div>
        <div class="card-footer text-muted">
            <p class="float-right">
                Max Score: {{ q.max_score }} / Estimated (Jaccard Similarity): {{ answer|estimate_text_score|floatformat }} / Score:
                <input id="textAnswerScore-{{ answer.id }}" type="number" size="1" value="{{ answer.score }}">
            </p>
        </div>
    </div>
    <br>
{% endwith %}