{% load fontawesome_5 %}

{% with q|get_idp_answer_for_user:student as answer %}
    <input class="idpQuestionAnswerID" value="{{ answer.id }}" hidden>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                {{ q.title }}
                <p class="float-right"><small>Formalization question</small></p>
            </h5>
        </div>
        <div class="card-body">
            <p style="color:mediumpurple"><b><u>Question:</u><br></b></p>
            {{ q.description|safe }}

            <!-- Fixed vocabulary -->
            <hr style="border-top: 1px dashed;">
            <i>Given vocabulary:</i><br>
            <code class="code-wrap">vocabulary V { {{ q.vocabulary.strip|idpCode }}&#125;</code>
            
            <br><hr style="border-top: 1px dashed;">
            <i>Given background theory:</i><br>
            <!-- Given background theory -->
            <code class="code-wrap">theory T_back : V { {{ q.background_theory.strip|idpCode }}&#125;</code>

            <br><hr style="border-top: 1px dashed;">
            <i>Given strucutre:</i><br>
            <!-- Given structure -->
            <code class="code-wrap">structure S : V { {{ q.structure.strip|idpCode }}&#125;</code>


            {% if not q.additional_vocabulary_enabled %}
                <br><br> 
                <i>Additional symbols are not allowed!</i><br>
            {% endif %}
            <hr>

            <p style="color:orange"><b><u>Answer:</u><br></b></p>
            {% if q.additional_vocabulary_enabled %}
                <i>Andditional vocabulary:</i><br>
                <code class="code-wrap">vocabulary V_add {&#13;extern vocabulary V {%firstof answer.additional_vocabulary.strip|idpCode "" %}&#125;</code>
                <hr style="border-top: 1px dashed;">

                <i>Definitions of the symbols from the additional vlcabulary:</i><br>
                <code class="code-wrap">theory T_add : V_add { {%firstof answer.additional_vocabulary_symbols.strip|idpCode "" %}&#125;</code>
                <hr style="border-top: 1px dashed;">

                <i>The theory:</i><br>
                <code class="code-wrap">theory T : V_add { {%firstof answer.theory.strip|idpCode "" %}&#125;</code>
            {% else %}
                <i>The theory:</i><br>
                <code class="code-wrap">theory T : V { {%firstof answer.theory.strip|idpCode "" %}&#125;</code>
            {% endif %}
                        
            <hr>
            <p style="color:teal"><b><u>Solution:</u><br></b></p>
            
            {% if q.additional_vocabulary_enabled %}
                <i>Andditional vocabulary:</i><br>
                <code class="code-wrap">vocabulary V_add {&#13;extern vocabulary V {%firstof q.additional_vocabulary.strip|idpCode "" %}&#125;</code>
                <hr style="border-top: 1px dashed;">

                <i>Definitions of the symbols from the additional vlcabulary:</i><br>
                <code class="code-wrap">theory T_add : V_add { {%firstof q.additional_vocabulary_symbols.strip|idpCode "" %}&#125;</code>
                <hr style="border-top: 1px dashed;">

                <i>The theory:</i><br>
                <code class="code-wrap">theory T : V_add { {%firstof q.theory.strip|idpCode "" %}&#125;</code>
            {% else %}
                <i>The theory:</i><br>
                <code class="code-wrap">theory T : V { {%firstof q.theory.strip|idpCode "" %}&#125;</code>
            {% endif %}

            <hr>
            <p style="color:green"><b><u>Comment:</u><br></b></p>
            <textarea id="idpAnswerComment-{{ answer.id }}" class="form-control" rows="3">{% firstof answer.comment|linebreaksbr "" %}</textarea>

        </div>
        <div class="card-footer text-muted">
            <p class="float-right">
                Max Score: {{ q.max_score }} / <button type="button" class="btn btn-primary btn-sm" onclick="estimateIDP({{answer.id}})">Estimate</button> <span id="idpEstimated-{{answer.id}}" class="text-info"></span>  / Score:
                <input id="idpAnswerScore-{{ answer.id }}" type="number" size="1" value="{{ answer.score }}">
            </p>
        </div>
    </div>
    <br>
{% endwith %}