{% extends "students/base.html" %}
{% block content %}

{% csrf_token %}
{% load static %}
{% load fontawesome_5 %}

<!-- Scripts for IDP editor -->
<script src="{% static "students/extensions/codemirror/lib/codemirror.js" %}"></script>
<script src="{% static "students/extensions/codemirror/mode/javascript/javascript.js" %}"></script>
<script src="{% static "students/idp-editor/idp.js" %}"></script>

<!-- Syntax highlighting -->
<script src="{% static "students/js/syntax-highlighter.js" %}"></script>

<!-- Custom JS -->
<script src="{% static "students/js/assignments.js" %}"></script>

<!-- CSS for IDP editor -->
<link rel="stylesheet" href="{% static "students/extensions/codemirror/lib/codemirror.css" %}">
<link rel="stylesheet" href="{% static "students/extensions/codemirror/theme/duotone-light.css" %}">
<link rel="stylesheet" href="{% static "students/idp-editor/symbol.css" %}">
<link rel="stylesheet" href="{% static "students/idp-editor/style.css" %}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static "students/css/assignments.css" %}">

<!-- Variables for js-->
<input id="pickup_save_answer_url" value="{% url 'assignment-answers-save' %}" hidden/>
<input id="pickup_check_idp_url" value="{% url 'check-idp' %}" hidden/>
<input id="pickup_assignment_is_open" value="{{assignment|is_open}}" hidden/>
<input id="pickup_assignment_id" value="{{assignment.id}}" hidden/>

<div id="responseMessage" class="alert"></div>

{% if assignment|is_finished %}
<div class="alert alert-warning">
    Deadline has passed for this assignment. You can no longer submit a solution.
</div>
{% endif %}

{% if not assignment|is_started %}
<div class="alert alert-info">
    The assignment <b>{{assignment}}</b> didn't start yet! <br>
    Assignment starts at <b>{{ assignment.start_date }}</b>!<br>
    Assignment ends at <b>{{ assignment.end_date }}</b>!<br>
    Please visit this page later.
</div>

{% else %}

<article class="media content-section">
    <div class="media-body editor-parent">
        <!-- Reverse Order of buttons ! -->
        <button type="button" class="btn btn-sm mt-1 mb-1 mr-1 btn-info float-right" data-toggle="popover" title="Buttons" data-content="You can submit your task with 'Submit' button (we count number of submissions), or you can save it with 'Save' button and submit later.">
            {% fa5_icon 'question' 'fa' %}
        </button>

        {% if assignment|is_open %}
            <button class="btn btn-success btn-sm mt-1 mb-1 mr-1 float-right" form="assignment-form" onclick="saveAnswers('false')">Save {% fa5_icon 'save' 'fa' %}</button>
            <button class="btn btn-warning btn-sm mt-1 mb-1 mr-1 float-right" form="assignment-form" onclick="saveAnswers('true')">Submit {% fa5_icon 'paper-plane' 'fa' %}</button>
        {% endif %}

        {% if request.user.is_staff %}
            <a href="{% url 'assignment-submissions' assignment.id %}" class="btn btn-warning btn-sm mt-1 mb-1 mr-1 float-right">
                View Submissions
            </a>
        {% endif %}

        <!-- Task title and description -->
        <h2 class="article-title">{{assignment.title}}</h2>
        <p class="article-content">{{ assignment.description|safe }}</p>

        <!-- Questions accordation -->
        <div id="accordion">
            {% for q in questions %}
                {% if q|get_class == 'TextQuestion' %}
                    <!-- Text questions -->
                    {% include "students/elements/questions/assignment_text_question.html" %}
                {% elif q|get_class == 'ChoiceQuestion' %}
                    <!-- Choice questions -->
                    {% include "students/elements/questions/assignment_choice_question.html" %}
                {% elif q|get_class == 'IDPQuestion' %}
                    <!-- IDP questions -->
                    {% include "students/elements/questions/assignment_idp_question.html" %}
                {% endif %} 
            {% endfor %}
        </div>
    </div>
</article>

{% endif %}

<!-- IDP Modal -->
<div class="modal fade bd-example-modal-lg" id="idpModal" tabindex="-1" role="dialog" aria-labelledby="IDP check modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">IDP Model Expansion Equivalence Test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="idpBody">

                <div id="resultOfCheck">

                    <div class="row" id="errors-result-row">
                        <div class="col-sm-12">
                            <div class="card border-danger">
                                <h5 class="card-header">Errors</h5>
                                <div class="card-body text-danger">
                                    <div class="card-text" id="errors-result-filed" style="white-space: pre-line;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="warnings-result-row">
                        <div class="col-sm-12">
                            <div class="card border-warning">
                                <h5 class="card-header">Warnings</h5>
                                <div class="card-body text-warning">
                                    <div class="card-text dip-massage-div" id="warnings-result-filed"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-sm-6">
                        <div class="card" id="unsound-models-result-card">
                            <h5 class="card-header">
                                Extra models
                                <button type="button" class="btn btn-sm btn-info float-right" data-toggle="popover" title="Unsound (Extra) models" data-content="This is the list of the models of your theory but they are not the models of the correct theory! Note that here you will find some but not all models.">{% fa5_icon 'question' 'fa' %}</button>
                            </h5>
                            <div class="card-body">
                                <div class="card-text dip-massage-div" id="unsound-models-result-filed"></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="card" id="incomplete-models-result-card">
                            <h5 class="card-header">
                                Missing models
                                <button type="button" class="btn btn-sm btn-info float-right" data-toggle="popover" title="Incomplete (Missing) models" data-content="This is the list of the models of correct theory but they are not the models of your theory! Note that here you will find some but not all models.">{% fa5_icon 'question' 'fa' %}</button>
                            </h5>
                            <div class="card-body">
                                <div class="card-text dip-massage-div" id="incomplete-models-result-filed"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div id="resultOfCheckLoader">
                    <center><div class="loader"></div></center>
                </div>
                {% comment %} {{ idp_f.instance.solver|run:idp_f }} {% endcomment %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Cheat sheet -->
<div class="modal fade bd-example-modal-lg" id="cheatSheetModal" tabindex="-1" role="dialog" aria-labelledby="Cheat Sheet modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">IDP Cheat sheet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body" id="idpBody">
                {% include "students/elements/cheat_sheet_table.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


