{% extends "students/base.html" %}
{% block content %}

{% csrf_token %}
{% load static %}
{% load fontawesome_5 %}

<!-- Syntax highlighting -->
<script src="{% static "students/js/syntax-highlighter.js" %}"></script>

<!-- Custom JS -->
<script src="{% static "students/js/submissions.js" %}"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static "students/css/submissions.css" %}">

<!-- Variables for js-->
<input id="pickup_submission_review_save_url" value="{% url 'submission-review-save' %}" hidden/>
<input id="pickup_idp_estimation_url" value="{% url 'idp-estimation' %}" hidden/>
<input id="pickup_submission_id" value="{{submission.id}}" hidden/>

<div id="responseMessage" class="alert"></div>

{% if assignment|is_open or not assignment|is_started %}
<div class="alert alert-warning">
    The assignment <b>{{ assignment }}</b> didn't start yet or is still open. You can not start reviewing until it is finished.<br>
    Assignment starts at <b>{{ assignment.start_date }}</b><br>
    Assignment ends at <b>{{ assignment.end_date }}</b><br>
</div>

{% else %}

    <div class="alert alert-primary">
        Student: <b>{{student}}</b><br>
        Attempts: <b>{{ submission.counter }}</b><br>
        Submitted: <b>{{ submission.submission_date|date:"D d M Y - H:i" }}</b><br>
    </div>

    <article class="media content-section">
        <div class="media-body">
            <!-- Reverse Order of buttons ! -->
            <!-- <button class="btn btn-danger btn-sm mt-1 mb-1 mr-1 float-right" data-toggle="modal" data-target="#exitModal">
                Exit
            </button> -->

            <button class="btn btn-info btn-sm mr-1 float-right" form="assignment-form" onclick="saveReview()">
                Submit Review
            </button>

            <!-- Task title and description -->
            <h2 class="article-title">{{assignment.title}}</h2>
            <p class="article-content">{{ assignment.description|safe }}</p>

            <!-- Questions accordation -->
            <div id="accordion">

                {% for q in questions %}
                    {% if q|get_class == 'TextQuestion' %}
                        <!-- Text questions -->
                        {% include "students/elements/questions/submission_text_question.html" %}
                    {% elif q|get_class == 'ChoiceQuestion' %}
                        <!-- Choice questions -->
                        {% include "students/elements/questions/submission_choice_question.html" %}
                    {% elif q|get_class == 'IDPQuestion' %}
                        <!-- IDP questions -->
                        {% include "students/elements/questions/submission_idp_question.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </article>
{% endif %}
{% endblock content %}
