{% extends "students/base.html" %}
{% block content %}

{% csrf_token %}
{% load static %}
{% load fontawesome_5 %}

<script type='text/javascript'>
    //When document is loaded
    $(document).ready(function(){
        $("#responseMessage").hide();
    });

    //CSRF token
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    //Automated checking url 
    const automatecCheckingUrl = "{% url 'automated-checking'%}";

    //Automated checking of the submissions
    async function automatedCheck(){

        //Reset progress bar
        var total_number = $( ".submissionsIDs" ).length;
        var counter = 0;
        $("#automated-checking-progress").css("width", "0%");
        $("#automated-checking-progress").attr("aria-valuenow", 0);

        //Add submissions id-s to the array
        const asyncThingsToDo = [];
        $( ".submissionsIDs" ).each(function( index ) {
            asyncThingsToDo.push({"submissionID":$(this).attr("id")});
        });

        //Fetch function 
        const asyncFetch = data => {
            return fetch(automatecCheckingUrl, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrftoken},
                    body: JSON.stringify(data),
                    mode: 'same-origin'  // Do not send CSRF token to another domain.
                })
                .then(response => (response.json()));
        }

        //Handle reuslt of Fetch function
        const handleResponse = data =>{
            //Update the progress bar
            counter = counter + 1;
            var new_value = 100 * counter / total_number; 
            $("#automated-checking-progress").css("width", new_value+"%");
            $("#automated-checking-progress").attr("aria-valuenow", new_value);
            
            //Update the score in the table
            $("#submissionScore-"+data.submission_id).html(data.score);

            //Add the color to the table field and print errors if any
            if(data.status == 0){
                $("#submissionScore-"+data.submission_id).addClass("table-success")
            }else{
                $("#submissionScore-"+data.submission_id).addClass("table-warning")
                $("#automated-checking-result").append("<div class='alert alert-warning'>"+data.message+"</div>");
            }
        }

        //Call Fatch per Fatch, sequential
        await asyncThingsToDo.reduce(
            (p, spec) => p.then(() => asyncFetch(spec).then(handleResponse)),Promise.resolve(null)//Start with empty promise
        );
    }

</script>

{% if not assignment|is_started %}
    <div class="alert alert-warning">
        The assignment <b>{{ assignment }}</b> didn't start yet. You can not start reviewing until it is finished.<br>
        Assignment starts at <b>{{ assignment.start_date }}</b><br>
        Assignment ends at <b>{{ assignment.end_date }}</b><br>
    </div>
{% else %}

    {% if assignment|is_open %}
    <div class="alert alert-warning">
        The assignment <b>{{ assignment }}</b> is still open. You can not start reviewing until it is finished.<br>
        Assignment starts at <b>{{ assignment.start_date }}</b><br>
        Assignment ends at <b>{{ assignment.end_date }}</b><br>
    </div>
    {% else %}
    <div class="alert alert-info">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Assignment: <b>{{ assignment }}</b><br>
                    Start: <b>{{ assignment.start_date }}</b><br>
                    End: <b>{{ assignment.end_date }}</b><br>
                </div>
                <div class="col-sm">
                    Text questions: <b>{{ assignment.textquestion_set.count }}</b><br>
                    Choice questions: <b>{{ assignment.choicequestion_set.count }}</b><br>
                    IDP questions: <b>{{ assignment.idpquestion_set.count }}</b><br>
                </div>
                <div class="col-sm">
                    Author: <b>{{ assignment.author }}</b><br>
                    Course: <b>{{ assignment.course }}</b><br>
                </div>
                <div class="col-sm">
                    Submissions: <b>{{ assignment.submission_set.count }}</b>
                </div>
            </div>
        </div>
        <hr>
        <button class="btn btn-info" type='button' onclick="automatedCheck()">
            Automated checking
        </button>

        <div class="progress my-2">
            <div id="automated-checking-progress" class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        
        <div id="automated-checking-result"></div>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="data-table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Attempts</th>
                <th scope="col">Submission Date</th>
                <th scope="col">Score</th>
                <th scope="col">Max Score</th>
                {% if not assignment|is_open %}
                <th scope="col">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr class="submissionsIDs" id="{{submission.id}}">
                    <th scope="row">{{ submission.student }}</th>
                    <td>{{ submission.counter }}</td>
                    <td>{{ submission.submission_date|date:"d/m/Y H:i" }}</td>
                    <td id="submissionScore-{{ submission.id }}">{{ assignment|get_score_for:submission.student }}</td>
                    <td>{{ assignment|get_max_score }}</td>
                    {% if not assignment|is_open %}
                        {% if assignment|was_reviewed:submission.student %}
                            <td><button type="button" class="btn btn-success" onclick="window.location.href='{% url 'assignment-submission-detail' assignment.id submission.id %}'">Rereview</button></td>
                        {% else %}
                            <td><button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'assignment-submission-detail' assignment.id submission.id %}'">Review</button></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}

{% endblock content %}