{% extends "students/base.html" %}
{% block content %}
{% load fontawesome_5 %}

<h1 class="text-center">Assignments</h1>

{% for course in courses %}
<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title"><a href="{% url 'course-detail' course.id %}">{{ course.name }}</a></h3>
        <!-- Assignments table -->
        {% include "students/elements/course_assignments_table.html" %}
    </div>
  </div>
{% endfor %}

<br><br><br>
{% endblock content %}

