{% extends "students/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Assignment</legend>
            <!-- We don't need to specify any form, validating this form will be enough to delete the assignment -->
            <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'assignment-detail' object.id %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}