{% extends "students/base.html" %}
{% block sidebar %}
<div class="col-md-8">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h4>Unsubmitted assignments</h4>
        </div>
        <ul class="list-group ">
            {% for course in courses %}
            <a href="{% url 'course-detail' course.id %}" class="list-group-item list-group-item-light list-group-item-action d-flex justify-content-between  align-items-center">
                {{ course.name }}
                {% with course|get_nb_of_assignments_left_for:user as todo_nb %}
                    {% if todo_nb > 0 %}
                    <span class="badge badge-primary badge-pill">{{ todo_nb }}</span>
                    {% else %}
                    <span class="badge badge-success badge-pill">0</span>
                    {% endif %}
                {% endwith %}
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}