{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html>
<!-- Header -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'students/css/main.css' %}">

    {% fontawesome_5_static %} 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
            

    <title>KRR Lessons Tool</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>

<body>

<!-- Navigation bar -->
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #3366cc;">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand mr-1" href="{% url 'home' %}">
                <img src="{% static "images/Logo.png" %}" height="30" class="d-inline-block align-top" alt="KRR Didactic tool">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Left Side -->
                <div class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'home' %}">{% fa5_icon 'home' 'fa' %} Home</a>
                    <a class="nav-item nav-link" href="{% url 'assignments' %}">{% fa5_icon 'tasks' 'fa' %} Assignments</a>
                    <a class="nav-item nav-link" href="{% url 'courses' %}">{% fa5_icon 'chalkboard' 'fa' %} Courses</a>
                    {% endif %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <div class="btn-group" role="group">
                                <button id="btnGroupAdmin" type="button" class="btn btn-warning dropdown-toggle ml-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% fa5_icon 'chalkboard-teacher' 'fa' %} Instructor
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupAdmin">
                                    <a class="dropdown-item" href="/admin">{% fa5_icon 'user-cog' 'fa' %} Admin panel</a>
                                    <a class="dropdown-item" href="{% url 'submissions' %}">{% fa5_icon 'file' 'fa' %} Submissions</a>
                                </div>
                            </div>
                        {% endif %}
                        <a type="link" class="button btn btn-light ml-1" href="{% url 'notifications' %}">
                            {% fa5_icon 'bell' 'fa' %} Notifications 
                            {% if nb_notifications > 0 %}
                                <span class="badge badge-primary" id="notificationsCounter">{{ nb_notifications }}</span>
                            {% else %}
                                <span class="badge badge-success" id="notificationsCounter">{{ nb_notifications }}</span>
                            {% endif %}
                        </a>
                        <div class="btn-group" role="group">
                            <button id="btnGroupUser" type="button" class="btn btn-light dropdown-toggle ml-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% fa5_icon 'cog' 'fa' %} User
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupUser">
                                <a class="dropdown-item" href="{% url 'profile' %}">{% fa5_icon 'user' 'fa' %} Profile</a>
                                {% if issue_tracker_url %}
                                    <a class="dropdown-item" href="{{ issue_tracker_url }}" target="_blank">{% fa5_icon 'bug' 'fa' %} Report a bug</a>
                                {% endif %}
                                <hr>
                                <a class="dropdown-item" href="{% url 'logout' %}">{% fa5_icon 'sign-out-alt' 'fa' %} Logout</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- TODO: eventually a Breadcrumb and Carousel -->
</header>

<main role="main" class="container">
    <div class="row">

        <!-- Breadcrumb -->
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% fa5_icon 'home' 'fa' %} home</a></li>
                    {% for name, abs_path in request.path|clearPath %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="{% url 'home' %}{{ abs_path }}">{{ name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
              </nav>
        </div>

        {% block sidebar %}
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
    </div>
</main>


</body>
</html>