{% extends "students/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register to Course</legend>
            <h2>Are you sure you want to register to course: "{{ object }}"</h2>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-outline-secondary" href="{% url 'courses' %}">Cancel</a>
            <button class="btn btn-outline-success" type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock content %}