{% extends "students/base.html" %}
{% load fontawesome_5 %}

{% block content %}
<style>
    /* To solve the bug in chrom with card columns */
    .card-columns{
        orphans: 1 !important;
        widows:1 !important;
    }

    .course-image{
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px);
        border-bottom-right-radius: calc(.25rem - 1px);
    }

    .just-text{
        text-align: justify;
        text-justify: inter-word;
    }

    .top-left-td{
        vertical-align: top; 
        text-align: left;
    }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
</style>

{% for course in courses %}
<table class="bm-3" style="width: 100%;">
    <tr>
        <td class="top-left-td" style="width: 25%;">
            <img class="course-image" src="{{ course.image.url }}">
        </td>
        <td class="top-left-td p-2" style="width: 75%;">
            {% if user in course.students.all %}
                <a href="{% url 'course-unregister' course.id %}" class="btn-sm btn-danger float-right">Unsubscribe {% fa5_icon 'times' 'fa' %}</a>
            {% else %}
                <a href="{% url 'course-register' course.id %}" class="btn-sm btn-success float-right">Subscribe {% fa5_icon 'check' 'fa' %}</a>
            {% endif %}
           
            {% if user in course.students.all %}
                <h4><a href="{% url 'course-detail' course.id %}">{{ course.name }}</a></h4>
            {% else %}
                <h4>{{ course.name }}</h4>
            {% endif %}
            
            <p class="just-text">{{ course.description}}</p>

            {% if course.start_date > now %}
                <small class="text-muted">Start Date: {{ course.start_date|date:"d/m/Y H:i" }}</small>
            {% else %}
                <small class="text-muted">Ongoing course!</small>
            {% endif %}
            
        </td>
    </tr>
</table>
<hr>
{% endfor %}

<br><br><br>

{% endblock content %}
