{% extends "students/base.html" %}
{% block content %}


<h2 class="text-center">Course: {{ course.name }}</h2>
    <img class="rounded-circle account-img w-25 h-25" src="{{ course.image.url }}" style="display: block; margin-left: auto; margin-right: auto;">
    <p class="text-center font-weight-light"> {{ course.description|linebreaksbr }} </p>
<h2 class="text-center">Assignments</h2>


<!-- Assignments table -->
{% include "students/elements/course_assignments_table.html" %}

{% endblock content %}
