{% extends "students/base+sidebar.html" %}
{% load fontawesome_5 %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Latest Active Assignments</h3>
    </div>
    <div class="card-body">
        {% if assignments|length == 0 %}
            <div class="alert alert-success" role="alert">
                You are up to date! No pending assignments! 
            </div>
            {% load static %}
            <img src="{% static 'images/no-tasks.png' %}" alt="No assignments!" width="10%" class="center">
        <!-- TODO: Correct this by checking whether all assignments are done -->
        {% endif %}

        {% for assignment in assignments %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ assignment.course.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'course-detail' assignment.course.id %}">{{ assignment.course }}</a>

                    <small class="text-muted float-right">{{ assignment.end_date|timeuntil }} left</small>
                    {% comment %} <small class="text-muted float-right">deadline: {{ assignment.end_date|date:"d F Y, H:i" }}</small> {% endcomment %}

                </div>
                <h2>
                    {{ assignment.title }}

                    {% if assignment|is_open %}
                        {% if assignment|was_submitted_by:user %}
                        <a class="btn btn-outline-success float-right" href="{% url 'assignment-detail' assignment.id %}" role="button">Retry {% fa5_icon 'edit' 'fa' %}</a>
                        {% elif assignment|was_saved_by:user %}
                        <a class="btn btn-outline-primary float-right" href="{% url 'assignment-detail' assignment.id %}" role="button">Continue {% fa5_icon 'forward' 'fa' %}</a>
                        {% else %}
                        <a class="btn btn-outline-primary float-right" href="{% url 'assignment-detail' assignment.id %}" role="button">Start {% fa5_icon 'play' 'fa' %}</a>
                        {% endif %}
                    {% else %}
                        <span class="badge badge-info float-right">Upcoming</span>
                    {% endif %}

                    
                </h2>
                
                <p class="article-content">{{ assignment.description|safe|truncatewords:100 }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

{% endblock content %}
