{% extends "students/base.html" %}
{% load crispy_forms_tags %}
{% load fontawesome_5 %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- WELCOME -->
        <div class="col-sm">
            <div class="content-section">  
                <legend class="border-bottom mb-4">Welcome</legend>

                <p class="text-justify font-weight-light">
                    Expressing knowledge can be a very difficult task, especially when we have to formally represent it! It is a skill that requires a lot of practice. 
                    To make this process easier we have created a prototype KRR didactic tool.
                </p>

                <p class="text-justify font-weight-light">
                    The tool is based on <a href="https://dtai.cs.kuleuven.be/drupal/software/idp/fo">FO(.) language</a> and currentlly uses <a href="https://dtai.cs.kuleuven.be/software/idp">IDP3 system</a> as a solver.
                </p>

                <p class="text-justify font-weight-light">
                    The tool is developed by <a href="https://dtai.cs.kuleuven.be/drupal/krr/research">KRR group</a> of <a href="https://www.kuleuven.be/kuleuven/">KU Leuven university</a>.

                    Good luck and enjoy!
                </p>
                
            </div>
        </div>
        <!-- LOGIN -->
        <div class="col-sm">
            <div class="content-section">  
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- LINKS -->
        <div class="col-sm">
            <div class="content-section">  
                <legend class="border-bottom mb-4">Links</legend>

                <small class="text-muted">You are admin?</small>
                <a class="nav-item nav-link" href="/admin">{% fa5_icon 'user-lock' 'fa' %} Admin login</a>

                <small class="text-muted">You don't have an account?</small>
                <a class="nav-item nav-link" href="{% url 'register' %}">{% fa5_icon 'user-plus' 'fa' %} Register</a>

                <small class="text-muted">You have forgotten your password?</small>
                <a class="nav-item nav-link" href="{% url 'password_reset' %}">{% fa5_icon 'unlock-alt' 'fa' %} Reset password</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}