{% extends "students/base+sidebar.html" %}
{% load fontawesome_5 %}
{% block content %}

{% csrf_token %}
<script type="text/javascript">

    $(document).ready(function(){
        $("#responseMessage").hide();
    });

    //CSRF token
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function deleteNotification(assignmentNotificationID, courseNotificationID) {

        $('#del-not-'+courseNotificationID).prop('disabled', true);
        

        var jsonData = {
            AssignmentNotificationID: assignmentNotificationID,
            CourseNotificationID: courseNotificationID
        };

        fetch("{% url 'notifications-delete' %}", {
            method: 'POST',
            headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrftoken},
            body: JSON.stringify(jsonData),
            mode: 'same-origin'  // Do not send CSRF token to another domain.
        }).then(response => {
          return response.json();
        }).then(data => {
            if(data["status"] == 1){
                //Item is deleted, remove article
                var itemToRemove;
                if(assignmentNotificationID != -1)
                    itemToRemove =$("#assignmentArticle-"+assignmentNotificationID);
                else
                    itemToRemove =$("#courseArticle-"+courseNotificationID);
                    itemToRemove.fadeOut(300, function() { $(this).remove(); });
            }else{
                //Something went wrong
                $("#responseMessage").html(data["message"]);
                $("#responseMessage").show();
                setTimeout(function(){ $("#responseMessage").hide(); }, 5000);
            }

            $("#notificationsCounter").html(data["notifications"]);
        });
    }

</script>

<div id="responseMessage" class="alert alert-warning"></div>

<div class="card">
    <div class="card-header">
        <h3>Notifications</h3>
    </div>
    <div class="card-body">
        {% if assignment_notifications|length == 0 and course_notifications|length == 0 %}
            <div class="alert alert-success" role="alert">
                You are up to date!
            </div>
            {% load static %}
            <img src="{% static 'images/no-tasks.png' %}" alt="No assignments!" width="10%" class="center">
        {% endif %}

        <!-- Assignment Notifications -->
        {% for notification in assignment_notifications %}
        <article class="media content-section" id="assignmentArticle-{{notification.id}}">
            <img class="rounded-circle article-img" src="{{ notification.assignment.course.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'course-detail' notification.assignment.course.id %}">{{ notification.assignment.course }}</a>

                    <button onclick="deleteNotification({{ notification.pk }}, -1);" id="del-not-{{ notification.pk }}" class="btn btn-danger float-right fas fa-xs mx-1 py-1">{% fa5_icon 'times' 'fa' %}</button>
                    <small class="text-muted float-right">{{ notification.created_at|timesince }} ago</small>

                </div>
                <h5>
                    {{ notification.text }}
                    <a class="btn btn-outline-success float-right" href="{% url 'assignment-detail' notification.assignment.id %}" role="button">Open</a>
                </h5>

                <p class="article-content">{{ notification.assignment.description|safe|truncatewords:100 }}</p>
            </div>
        </article>
        {% endfor %}

        <!-- Course Notifications -->
        {% for notification in course_notifications %}
        <article class="media content-section" id="courseArticle-{{notification.id}}">
            <img class="rounded-circle article-img" src="{{ notification.course.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'course-detail' notification.course.id %}">{{ notification.course }}</a>

                    <button onclick="deleteNotification(-1, {{ notification.pk }});" class="btn btn-danger float-right fas fa-xs mx-1 py-1">{% fa5_icon 'times' 'fa' %}</button>
                    <small class="text-muted float-right">{{ notification.created_at|timesince }} ago</small>

                </div>
                <h5>
                    {{ notification.text }}
                    {% if notification.update %}
                        <a class="btn btn-outline-success float-right" href="{% url 'course-detail' notification.course.id %}" role="button">Open</a>
                    {% else %}
                        <a class="btn btn-outline-success float-right" href="{% url 'course-register' notification.course.id %}" role="button">Register</a>
                    {% endif %}
                </h5>

                <p class="article-content">{{ notification.course.description|truncatewords:100 }}</p>
            </div>
        </article>
        {% endfor %}

    </div>
</div>

{% endblock content %}
