{% extends "students/base.html" %}
{% block content %}

<h1 class="text-center">Submissions</h1>


<!--Nav bar header- titles of the courses-->
<ul class="nav nav-tabs" id="myTab" role="tablist">    
    {% for course in courses %}
    <li class="nav-item">
        {% if forloop.first %}
            <a class="nav-link active" id="course-{{ course.id }}-tab" data-toggle="tab" href="#course-{{ course.id }}-body" role="tab" aria-controls="home" aria-selected="true">{{ course.name }}</a>
        {% else %}
            <a class="nav-link" id="course-{{ course.id }}-tab" data-toggle="tab" href="#course-{{ course.id }}-body" role="tab" aria-controls="home" aria-selected="false">{{ course.name }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<!--Nav bar body- table of the courses assignments-->
<div class="tab-content" id="myTabContent">

{% for course in courses %}

{% if forloop.first %}
<div class="tab-pane fade show active" id="course-{{ course.id }}-body" role="tabpanel" aria-labelledby="course-{{ course.name }}-tab">
{% else %}
<div class="tab-pane fade" id="course-{{ course.id }}-body" role="tabpanel" aria-labelledby="course-{{ course.name }}-tab">
{% endif %}

    {% if course.assignment_set.all %}

    <div class="list-group">
        {% for assignment in course.assignment_set.all %}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ assignment }}</h5>
                <small>Ends at {{ assignment.end_date|date:"d/m/Y H:i" }}</small>
            </div>
            <p class="mb-1">{{ assignment.description|safe|truncatewords:100}}</p>
            <small>
                <a href="{% url 'assignment-submissions' assignment.id %}" class="btn btn-warning btn-sm mt-1 mb-1 mr-1 float-right">
                    View Submissions
                </a>
            </small>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <!-- Show there is no assignments -->
    {% load static %}
        <br>
        <div class="alert alert-success" role="alert">
            All the submissions are finished!
        </div>
        <img src="{% static "images/no-tasks.png" %}" alt="No assignments!" width="10%" class="center">
    {% endif %}

</div>

{% endfor %}

</div>

{% endblock content %}
